# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
*.dockerignore

# Model files
models/pre-trained/

# Streamlit cache
.streamlit/
